@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(145deg ,hotpink, rgb(255, 237, 41));
    display: grid;
    place-content: center;
}
.arrow{
    position: absolute;
    /* display: none; */
}
.arrow img{
    width: 50px;
    transform: rotate(10deg);
    z-index: -1;
    animation: move 5s linear infinite;
    margin: 100px;
}
@keyframes move {
    0%{transform: translateY(0px) translateX(0px) rotate(10deg);}
    100%{transform: translateY(-700px) translateX(700px) rotate(10deg);}
}
.arrow img:nth-child(even){
    filter: invert();
}
img{
    width: 185px;
}
.card{
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    padding: 20px;
    border-radius: 20px;
    width: 635px;
    height: 410px;
    position: relative;
}
.card .left{
    width: 60%;
    display: grid;
    place-content: center;
    text-align: center;
    color: #fff;
}
.left .quotes{
    padding: 0 0 30px 20px;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    transform: rotate(-2deg);
    text-shadow:-4px -4px 3px rgba(0, 0, 0, 0.3);
}
.left .wish{
    transform: rotate(-2deg);
    font-size: 1.5rem;
    padding-left: 20px;
    font-family: 'Ephesis', cursive;
    color: rgb(255, 237, 41);
    text-shadow:-4px -4px 3px rgba(0, 0, 0, 0.3);
}
.card .right{
    width: 40%;
    display: grid;
    place-content: center;
}
@media (max-width:575px){
    .card{
        width: 400px;
        height: 330px;
    }
    .left .quotes,.left .wish{
        font-size: 1rem;
        padding: 0;
    }
    .left .quotes{
        padding-bottom: 20px;
    }
    img{
        width: 150px;
    }
}
@media (max-width:375px){
    .card{
        width: 300px;
        height: 230px;
    }
    .left .quotes,.left .wish{
        font-size: .8rem;
        padding: 0;
    }
    .left .quotes{
        padding-bottom: 5px;
    }
    img{
        width: 110px;
    }
}